html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #BFC0C0;
  color: #4f5d75;
}

.page-container {
  max-width: 75rem;
  margin: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

p {
  font-size: 1.1rem;
  padding: .75rem;
  margin: 0;
}

li {
  font-size: 1.1rem;
  text-align: left;
}

.styled li {
  list-style: none;
}

.styled li:before {
  content: "\f101";
  font-family: FontAwesome;
  color: #BF6943;
  display: inline-block;
  margin-left: -1.3rem;
  width: 1.3rem;
}

a {
  text-decoration: none;
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 1rem;
  color: #4f5d75;
}

img {
  max-width: 90%;
}

.pointer {
  cursor: pointer;
}

i {
  color: #DEDFDF;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #DEDFDF, #8E97A7, #DEDFDF);
  margin: 0;
}

nav {
  background-color: #8E97A7;
}

.logo {
  font-family: 'Audiowide', cursive;
  color: #DEDFDF;
}

nav li a, nav li i {
  font-family: 'Lato', sans-serif;
  color: #DEDFDF;
}

.btn-container {
  flex: 1 0 100%;
}

.btn {
  background-color: #EF8354;
  color: #DEDFDF;
  position: relative;
  border-style: none;
  border-radius: 0;
  font-family: FontAwesome, 'Lato', sans-serif;
  margin-bottom: 1rem;
  padding: 8px 16px;
  padding: 0.5rem 1rem;
  max-width: 10rem;
  /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-bottom: 3px solid #BF6943;
    border-radius: 5px;*/
}

.btn a {
  color: #DEDFDF;
}

.btn.active, .btn:hover {
  background-color: #BF6943;
}
